.Results {
    text-align: center;
    align-items: center;
    margin-top: 10px;
}

table.Results {
    width: 50%;
    border-style: solid;
    border-width: 1px;
}

th.Headers {
    background-color: red;
    color: white;
}